//colors
$white: #ffffff;

//Fonts
$default-font-size: .875rem;
$body-color: #343a40;
//////////////

//SideBar
$sidebar-bg: $white;
$sidebar-width-lg: 260px;

////////SideBar

//header

$navbar-height: 70px;
$navbar-bg: #fff;
$navbar-menu-color: #9c9fa6;
$navbar-font-size: .875rem;
$navbar-icon-font-size: 1.25rem;

////////header