<nav class="sidebar" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link">
                <i class="zmdi zmdi-home"></i>
                <span class="menu-title">{{'Dashboard' | translate}}</span>
            </a>
        </li>
        <li class="nav-item" [ngClass]="{ 'active': AddEmp.isActive }">
            <a class="nav-link" routerLink="/" routerLinkActive #AddEmp="routerLinkActive">
                <i class="zmdi zmdi-account-circle"></i>
                <span class="menu-title">{{'AddEmployee' |translate}}</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link">
                <i class="zmdi zmdi-account-circle"></i>
                <span class="menu-title">{{'DummyLink' |translate}}</span>
            </a>
        </li>
    </ul>
</nav>